<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>484141206389-ile2v6ck9inig8v5tdnahavr8ouukelu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484141206389-ile2v6ck9inig8v5tdnahavr8ouukelu</string>
	<key>API_KEY</key>
	<string>AIzaSyCYZ0qAO2MfIsHybG0A0YOZN__XdjFh9iw</string>
	<key>GCM_SENDER_ID</key>
	<string>484141206389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Paul-DeFilippi.flywerke</string>
	<key>PROJECT_ID</key>
	<string>flywerke2</string>
	<key>STORAGE_BUCKET</key>
	<string>flywerke2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:484141206389:ios:abb6e748f259a13f</string>
	<key>DATABASE_URL</key>
	<string>https://flywerke2.firebaseio.com</string>
</dict>
</plist>